$fa-font-path: "../fonts" !default;
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$pink: #FFE4DB;
$blue: #1E2863;

$form-input-bg: $pink;
$form-send-bg: $blue;

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #46487b;
  font-family: 'Inconsolata', sans-serif;
  margin: 0;
}

input[type=text],
input[type=submit],
input[type=email],
select,
.state-container-select {
  appearance: none;
  border: none;
  font-family: 'Roboto', sans-serif;
}

input,
select,
.form-control {
  height: 32px;
  border-radius: 2px;
}

input[type=text] {
  background-color: $form-input-bg;
  padding: 1em;

  &:focus {
    background: $form-input-bg;
  }
}

select {
  background-color: $form-input-bg;
}

label {
  display: block;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.form-control {
  background-color: $form-input-bg;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
}

.decoration {
  background-image: url(../images/decoration.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.bg {
  background-image: url(../images/bgpattern.jpg);
  background-position: top center;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
}

/* Custom page header */
.header {
  background-image: url(../images/april6.png);
  background-position: center;
  background-size: contain;
  border-bottom: 1px solid #e5e5e5;
  width: 286px;
  height: 154px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.state-container-select {
  position: absolute;
  left: 10px;
  top: 7px;
  border-radius: 2px;
}

.country-container {
  position: relative
}

.glyphicon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  font-size: 0.7em;
}

.container {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: 2;

  @media (max-width: 454px) {
    position: relative;
  }
}

.date-header {
  margin: 40px auto 50px;
  width: 286px;
  left: 1px;
  position: relative;
  // height: 154px;
  
  @media (min-width: 800px) {
    width: 671px;
    // margin:
  }

  img {
    // width: 100%;
  }
}

.save-the-date-num {
  display: inline-block;
  width: 286px;
  height: 154px;
  margin: 0 30px;

  @media (max-width: 800px) {
    margin: 30px 0;
  }
}

.save-the-date-copy {
  display: inline-block;
  height: 15px;
  width: 136px !important;

  @media (max-width: 800px) {
    display: block;
    margin: 0 auto;
  }
}

.save-the-date-name {
  display: inline-block;
  height: 15px;
  width: 175px !important;

  @media (max-width: 800px) {
    display: block;
    margin: 0 auto;
  }
}

.save-the-date {
  width: 400px;

  @media (max-width: 454px) {
    width: 100%;
    padding: 0 10px;
  }
}

.save-the-date-container {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 400px;

  @media (max-width: 454px) {
    position: relative;
    width: 100%;
  }
}

.form-address {
  margin-top: 35px;

  input[type=text] {
    display: block;
  }
}

.address-line-2 {
  margin-top: 10px;
  margin-bottom: 35px;
}

.form-inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (max-width: 454px) {
    display: block;
  }

  label {
    @media (max-width: 454px) {
      margin-top: 5px;
    }
  }
}

.form-region {
  display: none;
}

.form-state {
}

.state-container {
  background: $form-input-bg;
  border-radius: 2px;
  position: relative;
  width: 100%;
}

.zipcode {
  width: 124px !important;

  @media (max-width: 454px) {
    width: 100% !important;
  }
}

.state, .region {
  width: 109px !important;

  @media (max-width: 454px) {
    width: 100% !important;
  }
}

.city {
  width: 146px !important;

  @media (max-width: 454px) {
    width: 100% !important;
  }

  &.with-region {

  }
}

.btn {
  background-color: $form-send-bg;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  height: 40px;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  outline: 0;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, 0);
  width: 140px;
  -webkit-appearance: none;

  @media (max-width: 454px) {
    width: 100%;
    height: 80px;
    margin-top: 40px;
  }

  &:hover,
  &:focus {
    background-color: #3b4582;
    border: 0;
    color: white;
  }

  &:active {
    background-color: #20295f;
    border: 0;
    color: white;
  }

  &.disable {
    pointer-events: none;
  }
}

.send-text {
  background-image: url(../images/sendButton.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 44px;
  margin: 0 auto;
}

.confirmation {
  margin: 0 auto;
}

.error {
  animation-name: shake;
  animation-duration: 1s
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}


.confirmation-container {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 250px;
  transform: translate(-50%, 0);
  visibility: hidden;
  z-index: 2;

  @media (max-width: 800px) {
    top: 320px;
  }

  h1 {
    margin: 0;
    color: white;

    @media (max-width: 454px) {
      font-size: 20px;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
