// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$pink: #FFE4DB;
$blue: #1E2863;

$form-input-bg: $pink;
$form-send-bg: $blue;

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inconsolata', sans-serif;

  margin: 0;
}

input[type=text],
input[type=submit],
input[type=email],
select,
.state-container-select {
  appearance: none;
  border: none;
  font-family: 'Roboto', sans-serif;
}

input,
select,
.form-control {
  height: 32px;
  border-radius: 2px;
}

input[type=text] {
  background-color: $form-input-bg;
  padding: 1em;

  &:focus {
    background: $form-input-bg;
  }
}

select {
  background-color: $form-input-bg;
}

label {
  display: block;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.form-control {
  background-color: $form-input-bg;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
}

.decoration {
  background-image: url(../images/decoration.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  max-height: 460px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.bg {
  background-image: url(../images/bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Custom page header */
.header {
  background-image: url(../images/april6.png);
  background-position: center;
  background-size: contain;
  border-bottom: 1px solid #e5e5e5;
  height: 400px;
  width: 100%;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.state-container-select {
  position: absolute;
  left: 10px;
  top: 7px;
  border-radius: 2px;
}

.container {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: 2;
}

.date-header {
  height: 168px;
  margin: 0 auto;
  width: 160px;

  img {
    width: 100%;
  }
}

.wedding-form {
  width: 400px;
}

.wedding-form-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
}

.form-address {
  margin-top: 35px;

  input[type=text] {
    display: block;
  }
}

.address-line-2 {
  margin-top: 10px;
  margin-bottom: 35px;
}

.form-inline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.form-region {
  display: none;
}

.form-state {
}

.state-container {
  
  background: $form-input-bg;
  position: relative;
  width: 100%;
}

.zipcode {
  width: 124px !important;
}

.state {
  opacity: 0;
  width: 109px !important;
}

.city {
  width: 146px !important;

  &.with-region {

  }
}

.btn {
  text-transform: uppercase;
  width: 144px;
  height: 40px;
  background-color: $form-send-bg;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  color: white;
  position: absolute;
  margin-top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #3b4582;
    border: 0;
    color: white;
  }

  &:active {
    background-color: #20295f;
    border: 0;
    color: white;
  }

  &.disable {
    pointer-events: none;
  }
}

.confirmation {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 250px;
  transform: translate(-50%, 0);
  z-index: 2;
  text-align: center;

  h1 {
    margin: 0;
    color: white;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
